name: Renovate Check

on:
  merge_group:
  push:
    branches:
      - 'renovate/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Decode Keystore
        id: decode_keystore
        uses: timheuer/base64-to-file@v1.2
        with:
          fileName: 'release.jks'
          encodedString: ${{ secrets.KEYSTORE }}

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto'
          java-version: '17'
          cache: gradle

      - name: Gradle cache
        uses: gradle/actions/setup-gradle@v3

      - name: AVD cache
        uses: actions/cache@v4
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-api-34-google_apis

      - name: Create AVD and snapshot (if not cached)
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 34
          target: google_apis
          arch: x86_64
          profile: pixel_2
          avd-name: test
          force-avd-creation: true
          emulator-options: "-no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none"
          disable-animations: false
          script: echo "Generated AVD snapshot."
        env:
          CI: 'true'
          GIPHYAPIKEY: ${{ secrets.GIPHYAPIKEY }}
          KEYSTORE_LOCATION: ${{ steps.decode_keystore.outputs.filePath }}

      - name: Run instrumented tests with snapshot
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 34
          target: google_apis
          arch: x86_64
          profile: pixel_2
          avd-name: test
          force-avd-creation: false
          emulator-options: "-no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none"
          disable-animations: true
          script: ./gradlew :app:connectedDebugAndroidTest
        env:
          CI: 'true'
          GIPHYAPIKEY: ${{ secrets.GIPHYAPIKEY }}
          KEYSTORE_LOCATION: ${{ steps.decode_keystore.outputs.filePath }}

      - name: Gradle Check
        run: ./gradlew check assembleDebug
        env:
          CI: 'true'
          GIPHYAPIKEY: ${{ secrets.GIPHYAPIKEY }}
          KEYSTORE_LOCATION: ${{ steps.decode_keystore.outputs.filePath }}
